@import url('https://fonts.googleapis.com/css2?family=Playball&family=Raleway&family=Saira+Stencil+One&display=swap');

body{
    background-color: #8C12BE;
}

.main-container{
    width: 550px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

a{
	text-decoration: none;
    color: white;
    font-family: 'Raleway', cursive;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    transition: color 0.3s;


}

a:hover{
    color:rgb(16, 86, 192);
    text-decoration: underline;
}


form{
    width: 90%;
    
    display: flex;
    flex-direction: column;
    
}

input{
    background: #FFFFFF;
    border-radius: 5px;
    width: 100%;
    height: 58px;
    margin-bottom: 13px;
    border: none;
    line-height: 200% !important;
    text-indent:15px;
    
}


input:focus {
    outline: none;
    border: none;
 }
::placeholder {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px; 
    color: #000000;
    opacity: 1;


  }

@media(max-width: 550px) {
    .main-container{
        width: 100%;
    }
}