@import url('https://fonts.googleapis.com/css2?family=Playball&family=Raleway&family=Saira+Stencil+One&display=swap');

body{
    background-color: #8C12BE;
}

.main-container{
    width: 768px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

a{
	text-decoration: none;
    color: white;
    font-family: 'Raleway', cursive;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;

}


@media(max-width: 767px) {
    .main-container{
        width: 100%;
    }
}